.blog__wrapper {
  width: 100%;
  margin-top: 132px;
}
.blog__wrapper-title {
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 52px;
}
.blog__wrapper-date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #9CA3AF;
  margin-bottom: 43px;
  text-align: left;
}
.blog__wrapper-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 125px;
}
.blog__wrapper-main {
  padding-left: 4%;
  text-align: justify;
}
.blog__wrapper-main__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 65px;
}
.blog__wrapper-main__paragraph {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
}
.blog__wrapper-main__list {
  list-style-type: disc;
}
.blog__wrapper-main__list-item {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
}
.blog__wrapper-main__list-link {
  color: white;
}
.blog__wrapper-main__readingslist {
  padding-inline-start: 0px;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .blog__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
  }
  .blog__wrapper-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 17px;
  }
  .blog__wrapper-date {
    font-size: 10px;
    line-height: 12px;
  }
  .blog__wrapper-img {
    object-fit: cover;
    height: 180px;
    width: 70%;
    margin-bottom: 38px;
  }
  .blog__wrapper-main {
    max-width: 263px;
    padding-left: 0;
  }
  .blog__wrapper-main__header {
    font-size: 12px;
    line-height: 20px;
  }
  .blog__wrapper-main__paragraph {
    font-size: 10px;
    line-height: 20px;
  }
  .blog__wrapper-main__list-item {
    font-size: 10px;
    line-height: 20px;
  }
}

/*# sourceMappingURL=blog_styles.css.map */
