/* Intro */
.intro__wrapper {
  padding-top: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.intro__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  line-height: 56px;
}
.intro__wrapper-main__text {
  padding-bottom: 32px;
}
.intro__wrapper-main__item {
  color: #CBD5E1;
  font-size: 26px;
  line-height: 1;
  max-width: 789px;
  padding-right: 10px;
}
.intro__wrapper-main__pic {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}
.intro__wrapper-main__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 322px;
}

/* Projects */
.projects__wrapper {
  padding-top: 133px;
}
.projects__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  line-height: 56px;
}
.projects__wrapper-main {
  padding-top: 83px;
  display: inline-block;
  width: 100%;
}
.projects__wrapper-main__container {
  width: 100%;
  height: 300px;
  margin-bottom: 41px;
  background-color: rgba(30, 41, 59, 0.4);
  display: flex;
  border-radius: 46px;
  align-items: center;
}
.projects__wrapper-main__container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #CBD5E1;
  padding-left: 44px;
  width: 840px;
}
.projects__wrapper-main__container-project1__title {
  color: #F8FAFC;
  display: flex;
  justify-content: space-between;
  max-width: 224px;
}
.projects__wrapper-main__container-project2__title {
  color: #F8FAFC;
  display: flex;
  justify-content: space-between;
  max-width: 194px;
}
.projects__wrapper-main__container-project3__title {
  color: #F8FAFC;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
}
.projects__wrapper-project__img {
  width: 250px;
  height: 232px;
  padding-left: 8px;
}

/* Posts */
.posts__wrapper {
  margin-top: 42px;
}
.posts__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.posts__wrapper-title__text {
  display: flex;
  flex-wrap: wrap;
}
.posts__wrapper-title__all {
  align-items: center;
  height: 50%;
  padding-top: 40px;
}
.posts__wrapper-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.posts__wrapper-main__container {
  width: 369px;
  height: 518px;
  border-radius: 20px;
  background-color: rgba(30, 41, 59, 0.4);
  display: inline-block;
  text-align: center;
}
.posts__wrapper-main__container-title {
  font-weight: 700;
  font-size: 24px;
}
.posts__wrapper-main__container-date {
  font-weight: 300;
  font-size: 20px;
  color: #CBD5E1;
}
.posts__wrapper-main__container-text {
  font-size: 20px;
  font-weight: 400;
  max-width: 341px;
  padding-left: 14px;
}

/* iPhone SE */
@media screen and (max-width: 375px) and (max-height: 667px) {
  .intro__wrapper {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-areas: "pic" "main";
  }
  .intro__wrapper-title {
    line-height: 23px;
    font-size: 12px;
    margin-top: 17px;
    max-width: 239px;
  }
  .intro__wrapper-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro__wrapper-main__item {
    font-size: 12px;
    margin-left: 35px;
    max-height: 54px;
  }
  .intro__wrapper-main__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 222px;
    padding-left: 70px;
  }
  .intro__wrapper-main__links__img {
    height: 50px;
    width: 50px;
  }
  .intro__wrapper-main__pic {
    width: 65%;
    grid-area: pic;
  }
  .projects__wrapper {
    padding-top: 57px;
  }
  .projects__wrapper-title {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
    font-size: 12px;
    justify-content: space-between;
    max-width: 180px;
    margin-left: 60px;
  }
  .projects__wrapper-main {
    padding-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .projects__wrapper-main__container {
    border-radius: 20px;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__wrapper-main__container-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #CBD5E1;
    padding-left: 0;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 267px;
  }

  .projects__wrapper-project__img {
    width: 150px;
    height: 232px;
    padding: 0;
  }
  .projects__wrapper-main__container-project1__title {
    color: #F8FAFC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 155px;
    margin: 0;
  }
  .projects__wrapper-main__container-project2__title {
    color: #F8FAFC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 125px;
    margin: 0;
  }
  .projects__wrapper-main__container-project3__title {
    color: #F8FAFC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 190px;
    margin: 0;
  }
  .posts__wrapper-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 29px;
  }
  .posts__wrapper-title__text {
    justify-content: space-between;
    padding-left: 27px;
    width: 113px;
  }
  .posts__wrapper-title__all {
    align-items: center;
    padding-top: 0;
    padding-right: 15px;
  }
  .posts__wrapper-title__all-pic {
    width: 115px;
    height: 25px;
  }
  .posts__wrapper-main__container {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(30, 41, 59, 0.4);
    display: inline-block;
    text-align: center;
    margin-bottom: 38px;
    padding-bottom: 22px;
    margin-left: 10%;
  }
  .posts__wrapper-main__container-title {
    font-weight: 700;
    font-size: 15px;
  }
  .posts__wrapper-main__container-date {
    font-weight: 300;
    font-size: 12px;
    color: #CBD5E1;
  }
  .posts__wrapper-main__container-text {
    font-size: 12px;
    font-weight: 400;
    max-width: 70%;
    padding-left: 45px;
  }
  .posts__wrapper-main__container-pic {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=main_styles.css.map */
