.newsletters__wrapper {
  justify-content: center;
}
.newsletters__wrapper-main {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.newsletters__wrapper-main__text {
  width: 100%;
  max-width: none;
  font-size: 24px;
}
.newsletters__wrapper-main__list {
  list-style-type: disc;
  padding-inline-start: 82px;
}
.newsletters__wrapper-main__list-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.newsletters__wrapper-main__list-link {
  color: #CBD5E1;
  text-decoration: none;
}
.newsletters__wrapper__input {
  margin: 0 !important;
  width: 100% !important;
}
.newsletters__wrapper-input__inputbox {
  width: 70% !important;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .newsletters__wrapper-main {
    align-content: center;
  }
  .newsletters__wrapper-main__title {
    padding: 0 0 29px 0;
    line-height: 1;
    font-size: 11px;
  }
  .newsletters__wrapper-main__text {
    font-size: 10px;
  }
  .newsletters__wrapper-main__list {
    padding-inline-start: 44px;
    margin-bottom: 27px;
  }
  .newsletters__wrapper-main__list-item {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
}

/*# sourceMappingURL=newsletters_styles.css.map */
