.posts-example__wrapper {
  margin-top: 69px;
}
.posts-example__wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 99px;
}
.posts-example__wrapper-title__main {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.posts-example__wrapper-title__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #CBD5E1;
}
.posts-example__wrapper-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 518px;
  margin-bottom: 91px;
}
.posts-example__wrapper-row__container {
  height: 100%;
  background-color: rgb(30, 41, 59);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts-example__wrapper-row__container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 22px 0 0 0;
}
.posts-example__wrapper-row__container-date {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #9CA3AF;
}
.posts-example__wrapper-row__container-text {
  max-width: 341px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .posts-example__wrapper {
    margin-top: 19px;
  }
  .posts-example__wrapper-title {
    margin-bottom: 43px;
  }
  .posts-example__wrapper-title__main {
    font-size: 20px;
    line-height: 23px;
  }
  .posts-example__wrapper-title__subtitle {
    font-size: 10px;
    line-height: 12px;
    max-width: 75%;
    text-align: center;
  }
  .posts-example__wrapper-row {
    margin-bottom: 560px;
    justify-content: center;
  }
  .posts-example__wrapper-row__container {
    max-height: 323px;
    max-width: 230px;
    margin-bottom: 33px;
  }
  .posts-example__wrapper-row__container-pic {
    width: 100%;
  }
  .posts-example__wrapper-row__container-title {
    font-size: 15px;
    line-height: 18px;
  }
  .posts-example__wrapper-row__container-date {
    font-size: 12px;
    line-height: 14px;
  }
  .posts-example__wrapper-row__container-text {
    max-width: 212px;
    font-size: 12px;
    line-height: 14px;
  }
}

/*# sourceMappingURL=posts_styles.css.map */
