@import "fonts.css";

body {
  background-color: #0F172A;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  color: #F8FAFC;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1386px;
  margin: 0 auto;
}

.text__gradient {
  background: -webkit-linear-gradient(#22D3EE, #0EA5E9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: #0F172A;
  padding-top: 20px;
  padding-bottom: 34px;
  align-items: center;
}
.header__wrapper {
  max-width: 1386px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  text-decoration: none;
  line-height: 28.13px;
  font-weight: 700;
  color: #F8FAFC;
}
.header__link:hover, .header__link:focus, .header__link:active {
  color: #d5d6d7;
}

/* Newsletters */
.newsletters__wrapper {
  padding-top: 79px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 127px;
}
.newsletters__wrapper-main {
  padding-top: 40px;
}
.newsletters__wrapper__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 56px;
}
.newsletters__wrapper__text {
  font-weight: 400;
  font-size: 20px;
  color: #CBD5E1;
  max-width: 600px;
}
.newsletters__wrapper__input {
  margin-top: 207px;
  margin-left: 100px;
  width: 522px;
  height: 70px;
  background-color: #1E293B;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.newsletters__wrapper-input__inputbox {
  border: none;
  width: 270px;
  height: 24px;
  margin-left: 42px;
  margin-top: 22px;
  background-color: #1E293B;
  color: #CBD5E1;
  font-size: 18px;
}
.newsletters__wrapper-input__inputbox:hover, .newsletters__wrapper-input__inputbox:focus {
  border: none;
  outline: none;
}
.newsletters__wrapper-input__button {
  width: 164px;
  height: 46px;
  margin-top: 12px;
  margin-right: 17px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: -webkit-linear-gradient(#22D3EE, #0EA5E9);
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}
.newsletters__wrapper-input__button:hover, .newsletters__wrapper-input__button:focus, .newsletters__wrapper-input__button:active {
  color: rgb(38, 38, 38);
  outline: 2px solid white;
}

/* Footer */
.footer {
  border-top: 1px solid #CBD5E1;
  width: 100%;
  padding-bottom: 107px;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  color: #CBD5E1;
  padding-top: 27px;
  padding-left: 108px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  margin-right: 40px;
}
.footer__item:last-child {
  margin-right: 160px;
}

/* iPhone SE */
@media screen and (max-width: 375px) and (max-height: 667px) {
  .wrapper {
    max-width: 375px;
  }
  .header__logo {
    max-width: 150px;
  }
  .header__logo-img {
    margin-left: 15px;
    margin-right: auto;
    height: 20px;
    width: 100%;
  }
  .header__link {
    text-decoration: none;
    line-height: 11.72px;
    font-weight: 700;
    font-size: 12px;
    color: #F8FAFC;
  }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    margin: 0;
    padding-left: 0;
    margin-right: 30px;
  }
  .posts__wrapper__title__all__pic {
    width: 115px;
    height: 25px;
  }
  .newsletters__wrapper {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 127px;
  }
  .newsletters__wrapper-main {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .newsletters__wrapper__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    max-width: 315px;
  }
  .newsletters__wrapper__text {
    font-weight: 400;
    font-size: 12px;
    color: #CBD5E1;
    width: 100%;
    max-width: 312px;
    line-height: 1;
  }
  .newsletters__wrapper__input {
    margin-top: 0;
    margin-left: 5%;
    width: 335px;
    height: 38px;
  }
  .newsletters__wrapper-input__inputbox {
    margin-left: 32px;
    margin-top: 5px;
    font-size: 10px;
  }
  .newsletters__wrapper-input__button {
    width: 80px;
    height: 28px;
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 10px;
  }
  .footer {
    padding-bottom: 17px;
  }
  .footer__wrapper {
    font-weight: 500;
    font-size: 10px;
    color: #CBD5E1;
    padding-top: 27px;
    padding-left: 30px;
  }
  .footer__pic {
    width: 24px;
  }
  .footer__item {
    margin-right: 2px;
  }
  .footer__item:last-child {
    margin-right: 0px;
  }
  .footer__list {
    margin-left: 65px;
  }
}

/*# sourceMappingURL=shared.css.map */