.blog__wrapper {
    width: 100%;
    margin-top: 132px;

    &-title {
        text-align: center;
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
        margin-bottom: 52px;
    }

    &-date {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #9CA3AF;
        margin-bottom: 43px;
        text-align: left;
    }

    &-img {
        width: 100%;
        height: 800px;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 125px;
    }

    &-main {
        padding-left: 4%;
        text-align: justify;

        &__header {
            font-weight: 700;
            font-size: 36px;
            line-height: 65px;
        }

        &__paragraph {
            font-weight: 400;
            font-size: 32px;
            line-height: 45px;
        }

        &__list {
            list-style-type: disc;

            &-item {
                font-weight: 400;
                font-size: 32px;
                line-height: 45px;
            }

            &-link {
                color: white;
            }
        }

        &__readingslist {
            padding-inline-start: 0px;
        }
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .blog__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 53px;
    
        &-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 17px;
        }
    
        &-date {
            font-size: 10px;
            line-height: 12px;
        }
    
        &-img {
            object-fit: cover;
            height: 180px;
            width: 70%;
            margin-bottom: 38px;
        }
    
        &-main {
            max-width: 263px;
            padding-left: 0;
    
            &__header {
                font-size: 12px;
                line-height: 20px;
            }
    
            &__paragraph {
                font-size: 10px;
                line-height: 20px;
            }
    
            &__list {
                &-item {
                    font-size: 10px;
                    line-height: 20px;
                }
            }
        }
    }
}