/* Intro */

.intro__wrapper {
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    &-title {
        display: flex;
        flex-wrap: wrap;
        line-height: 56px;
    }

    &-main {
        &__text {
            padding-bottom: 32px;
        }

        &__item {
            color: #CBD5E1;
            font-size: 26px;
            line-height: 1;
            max-width: 789px;
            padding-right: 10px;
        }

        &__pic {
            width: 100%;
            height: 100%;
            max-width: 400px;
            max-height: 400px;
        }

        &__links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 322px; 
        }
    }
}

/* Projects */

.projects__wrapper {
    padding-top: 133px;

    &-title {
        display: flex;
        flex-wrap: wrap;
        line-height: 56px;
    }

    &-main {
        padding-top: 83px;
        display: inline-block;
        width: 100%;
        
        &__container {
            width: 100%;
            height: 300px;
            margin-bottom: 41px;
            background-color: rgba(30,41,59,.4);
            display: flex;
            border-radius: 46px;
            align-items: center;

            &-text {
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                color: #CBD5E1;
                padding-left: 44px;
                width: 840px;
            }

            &-project1__title {
                color: #F8FAFC;
                display: flex;
                justify-content: space-between;
                max-width: 224px; 
            }

            &-project2__title {
                color: #F8FAFC;
                display: flex;
                justify-content: space-between;
                max-width: 194px;
            }

            &-project3__title {
                color: #F8FAFC;
                display: flex;
                justify-content: space-between;
                max-width: 260px;
            }
        }
    }

    &-project__img {
        width: 250px;
        height: 232px;
        padding-left: 8px;
    }
}

/* Posts */

.posts__wrapper {
    margin-top: 42px;

    &-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__text {
            display: flex;
            flex-wrap: wrap;
        }

        &__all {
            align-items: center;
            height: 50%;
            padding-top: 40px;
        }
    }

    &-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        &__container {
            width: 369px;
            height: 518px;
            border-radius: 20px;
            background-color: rgba(0,0,0,.1);
            display: inline-block;
            text-align: center;

            &-title {
                font-weight: 700;
                font-size: 24px;
            }

            &-date {
                font-weight: 300;
                font-size: 20px;
                color: #CBD5E1;
            }

            &-text {
                font-size: 20px;
                font-weight: 400;
                max-width: 341px;
                padding-left: 14px;
            }
        }
    }
}

/* iPhone SE */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .intro__wrapper {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-areas: "pic" "main";

        &-title {
            line-height: 23px;
            font-size: 12px;
            margin-top: 17px;
            max-width: 239px;
        }

        &-main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: center;
       
            &__item {
                font-size: 12px;
                margin-left: 35px;
                max-height: 54px;
            }
    
            &__links {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 222px;
                padding-left: 70px;
                
                &__img {
                    height:50px;
                    width:50px;
                }
            }
        }
    } 
    
    .projects__wrapper {
        padding-top: 57px;
        
        &-title {
            display: flex;
            flex-wrap: wrap;
            line-height: 1.2;
            font-size: 12px;
            justify-content: space-between;
            max-width: 180px;
            margin-left: 60px;
        }

        &-main {
            padding-top: 25px;
            display: inline-block;
            width: 100%; 

            &__container {
                border-radius: 20px;
                height: 100%;
                width: 80%;
                margin-left: 10%;
                background-color: rgba(0,0,0,.1);
                display: flex;
                flex-wrap: wrap;

                &-text {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 20px;
                    color: #CBD5E1;
                    padding-left: 22px;
                    width: 400px;

                    &__projects-title {
                        margin-left: 12px;
                    }
                }

                &-project__img {
                    width: 150px;
                    height: 232px;
                    padding-left: 25%;
                }

                &-project1-title {
                    color: #F8FAFC;
                    display: flex;
                    justify-content: center;
                    max-width: 224px;
                    margin-left: 20px;
                }

                &-project2-title {
                    color: #F8FAFC;
                    display: flex;
                    justify-content: center;
                    max-width: 194px;
                    margin-left: 30px;
                }

                &-project3-title {
                    color: #F8FAFC;
                    display: flex;
                    justify-content: center;
                    max-width: 260px;
                }
            }
        }
    }

    .posts__wrapper {
        &-title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            font-size: 10px;
            margin-bottom: 29px;

            &__text {
                justify-content: space-between;
                padding-left: 27px;
                width: 113px;
            }

            &__all {
                align-items: center;
                padding-top: 0;
                padding-right: 15px;

                &-pic {
                    width: 115px;
                    height: 25px;
                }            
            }
        }

        &-main {
            &__container {
                width: 80%;
                height: 100%;
                border-radius: 20px;
                background-color: rgba(0,0,0,.1);
                display: inline-block;
                text-align: center;
                margin-bottom: 38px; 
                padding-bottom: 22px;
                margin-left: 10%;

                &-title {
                    font-weight: 700;
                    font-size: 15px;
                }

                &-date {
                    font-weight: 300;
                    font-size: 12px;
                    color: #CBD5E1;
                }

                &-text {
                    font-size: 12px;
                    font-weight: 400;
                    max-width: 70%;
                    padding-left: 45px;
                }

                &-pic {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}