.newsletters__wrapper {
    justify-content: center;

    &-main {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        &__text {
            width: 100%;
            max-width: none;
            font-size: 24px;
        }

        &__list {
            list-style-type: disc;
            padding-inline-start: 82px;

            &-item {
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;

            }

            &-link {
                color: #CBD5E1;
                text-decoration: none;
            }
        }
    }

    &-input {
        margin: 0;
        width: 100%;

        &__inputbox {
            width: 70%;
        }
    }  
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .newsletters__wrapper {
        &-main {
            align-content: center;

            &__title {
                padding: 0 0 29px 0;
                line-height: 1;
                font-size: 11px;
            }
    
            &__text {
                font-size: 10px;
            }
    
            &__list {
                padding-inline-start: 44px;
                margin-bottom: 27px;
    
                &-item {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                }
            }
        }
    }
}