.posts-example__wrapper {
    margin-top: 69px;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 99px;

        &__main {
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #CBD5E1;
        }
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 518px;
        margin-bottom: 91px;

        &__container {
            height: 100%;
            background-color: rgb(30,41,59);
            border-radius: 20px;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                margin: 22px 0 0 0;
            }

            &-date {
                margin: 20px 0 0 0;
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                color: #9CA3AF;
            }
            
            &-text {
                max-width: 341px;
                text-align: center;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .posts-example__wrapper {
        margin-top: 19px;

        &-title {
            margin-bottom: 43px;
    
            &__main {
                font-size: 20px;
                line-height: 23px;
            }
    
            &__subtitle {
                font-size: 10px;
                line-height: 12px;
                max-width: 75%;
                text-align: center;
            }
        }
    
        &-row {
            margin-bottom: 560px;
            justify-content: center;

            &__container {
                max-height: 323px;
                max-width: 230px;
                margin-bottom: 33px;
    
                &-pic {
                    width: 100%
                }
    
                &-title {
                    font-size: 15px;
                    line-height: 18px;
                }
    
                &-date {
                    font-size: 12px;
                    line-height: 14px;
                }
                
                &-text {
                    max-width: 212px;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
}